<a href="#/parks/<%=park.get('id')%>" class="park-name"><%=park.escape('name')%></a>
<br>
<span><%=park.escape('address')%>,</span>
<br>
<span><%=park.escape('city')%>, <%=park.escape('state')%>, <%=park.escape('zip')%></span>

<a href="#/parks/<%=park.get('id')%>">Write a review</a>
<hr class='spacer'></hr>
