<a href="#/parks/<%=park.get('id')%>" class="park-name"><%=park.escape('name')%></a>
<br>
<span><%=park.escape('address')%>,</span>
<br>
<span><%=park.escape('city')%>, <%=park.escape('state')%>, <%=park.escape('zip')%></span>
<br>
<div class='ind-str'></div>
<a href="#/parks/<%=park.get('id')%>/write-review">Write a review</a>
<hr class='spacer'></hr>
