<!DOCTYPE html>
<html>
<head>
  <title>ParksNRecs</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

  <%= javascript_include_tag 'application'%>
  <% if current_user %>
    <script>ParksNRecs.currentUserId = <%= current_user.id %></script>
  <% end %>

  <%= csrf_meta_tags %>
</head>

<body>

<%= yield %>

</body>
</html>
